html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



/*Banner Image*/
.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url('images/code-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: solid black 3px;
    margin-bottom: 10px;
    
    
  }

/*Background H1 Color*/
.container h1 {
    margin-top: -250px;
    color: white;
    font-size: 60px;
    
    
}

/* Typewriter Effect */
    .banner p {
    color: red;
    font-size: 50px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow-wrap: break-word;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    animation: typing 7s steps(60, end);
    animation-delay: 1s;
    animation-duration: 7s;
}

/* Blinking Underscore */
.blinkcursor{
    animation: blink 1s infinite;
    color: white;
  }

/*Link Color*/
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;    
}

/*Navbar Active & Hover Color*/
.navbar-custom .nav-item.active .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item:hover .nav-link {
    color: red;
}

/*Navbar-Brand Color (Deciding)
.navbar-custom .navbar-brand {
    color: #ffffff;
}*/

/*Profile Picture*/
.profilepicture {
    border-radius: 50%;
    height: 175px;
    width: 210px;
    border: solid 3px #ffffff;
    margin-top: -35px;
    
    
}

/*Angled Background */
.py-5 {
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    background-color: #000000;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .flextitle {
    color: #ffffff;
    margin-bottom: 70px;
    padding-left: 20px;
    align-self: center;
}

/* Card styling */
* { 
    box-sizing: border-box; 
} 
  
/* styling body */
.container { 
    max-width: 100%; 
    margin: auto; 
} 

  
/* paragraph tga decoration */
p { 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 4; 
    overflow: hidden; 

} 
  
/* Row and Column Decoration */
.row { 
    margin: 0px -18px; 
    padding: 8px;
    justify-content: center;
    
} 
  
.row > .column { 
    padding: 6px; 
}   
  
.column { 
    float: left; 
    width: 25%; 
} 
  
.row:after { 
    content: ""; 
    display: table; 
    clear: both; 
}
/* Row and Column Decoration End */
  
/* Content Decoration */
.content { 
    background-color: white; 
    padding: 5px; 
    border: 2px solid #000000; 
}

/* Portfolio Title*/
h2.portfolio {
    text-align: center;
    padding-bottom: 5px;
}

.page-footer {
    background-color: #000000;
}

/* Typing Animation */
@keyframes typing {
    from {
        max-width: 0%;
    }
    to {
        max-width: 100%;
    }
}

/* Blinking Underscore */
  @keyframes blink{
    to {opacity: 0;}
  }

  /* Mobile Devices */
@media screen and (max-width: 360px) {
    .banner p {
        font-size: 1.5em;
    }

    .container h1 {
        font-size: 2.5em;
    }
}

/* iPads, Tablets */ 
@media screen and (min-width: 768px) {
    .banner p {
        font-size: 1.5em;
    }

    .container h1 {
        font-size: 2.5em;
    } 
    
}

/* Small Screens, Laptops */
@media screen and (min-width: 768px) {
    body {
        
    }
}

/* Desktops, Large Screens */
@media screen and (min-width: 992px) {
    body {
        
    
}
}

/* Extra large screens, TV */
@media screen and (min-width: 1200px) {

}